.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #EFF2F7;
}

.App-link {
  color: #61dafb;
}

/* html map */

#paper-html-elements {
  position: relative;
  border: 1px solid gray;
  display: inline-block;
  background: transparent;
  overflow: hidden;
}
#paper-html-elements svg {
  background: transparent;
}
#paper-html-elements svg .link {
  z-index: 2;
}
.html-element {
  position: absolute;
  background: #3498DB;
  /* Make sure events are propagated to the JointJS element so, e.g. dragging works.*/
  pointer-events: none;
  -webkit-user-select: none;
  border-radius: 4px;
  border: 2px solid #2980B9;
  box-shadow: inset 0 0 5px black, 2px 2px 1px gray;
  padding: 5px;
  box-sizing: border-box;
  z-index: 2;
}
.html-element select,
.html-element input,
.html-element button {
  /* Enable interacting with inputs only. */
  pointer-events: auto;
}
.html-element button.delete {
  color: #EFF2F7;
  border: none;
  background-color: #C0392B;
  border-radius: 20px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: middle;
  position: absolute;
  top: -15px;
  left: -15px;
  padding: 0;
  margin: 0;
  font-weight: bold;
  cursor: pointer;
}
.html-element button.delete:hover {
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.html-element select {
  position: absolute;
  right: 2px;
  bottom: 28px;
}
.html-element input {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: none;
  color: #333;
  padding: 5px;
  height: 16px;
}
.html-element label {
  color: #333;
  text-shadow: 1px 0 0 lightgray;
  font-weight: bold;
}
.html-element span {
  position: absolute;
  top: 2px;
  right: 9px;
  color: #EFF2F7;
  font-size: 10px;
}

/* html map */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


a{
  text-decoration: none !important;
}

a:hover{
  text-decoration: none !important;
}



.indexedStep {
  color: white;
  width: 20px;
  height: 20px;
  font-size: 12px;
  background-color: rgba(54, 54, 54, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexedStep.accomplished {
  background-color: rgba(0, 116, 217, 1);
}

.padd{
  max-width: 400px; 
  display: flex; 
  flex-flow: row wrap;
  margin: auto; 
}
.paddElement{
  min-width: 40px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 20%;
  background-color: rgb(255, 255, 255);
  margin: 6px;
  font-weight: bolder;
}

.paddCoinElement{
  min-width: 100px;
  max-width: 160px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 20%;
  background-color: rgb(255, 255, 255);
  margin: 6px;
  font-weight: bolder;
}

.paddElement.billElement{
  max-height: 60px;
}

.paddElement:hover{
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

.paddElement:hover{
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

.error_message{
  font-size: 12px;
  color: red;
  text-align: left;
}